<!DOCTYPE html>
<html>
  <head>
    <title>Personal Dev Dashboard</title>
    <link rel="stylesheet" href="styles.css">
    <style>
      .pull-right { float: right; }
      body {
        font-family: 'Arial';
        font-weight: 100;
        font-size: 1.0em;
      }
      .yo {
        background: #eee;
        margin: 10px;
        border-radius: 10px;
        float: left; 
        width: 300px;
      }
      .not { background: red !important; color: white; }
      .database-rendering {
        background: #eee;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        border: 1px #aaa solid;
        overflow: hidden;
        margin: 0 auto;
        width: 1300px;
      }
      .day { 
        float: left; 
        width: 200px;
      }
      h1 {
        text-transform: uppercase;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <u><center><h1><%= "#{@name}'s Current Scores" %></h1></center></u>
    <center>

      <div style="width: 1300px;">
        <span class="pull-right"><span style="background: red; color: white;padding: 5px; border-radius: 5px;">RED</span> = Not Implemented
          </span>

        <span style="float: left;"><span style="background: blue; color: white;padding: 7px; border-radius: 7px;cursor: hand; cursor: pointer;">
           <a href="/reports" style="color: white; text-decoration: none">📊 Report & Analytics</a></span>
          </span>

        <div style="margin-top:-50px;width: 225px; position: relative; top: 55px;z-index:-1; background: #FFFBCC; height: 40px;transform: rotate(-2deg);">
        </div>
        <h2>Cumulative Scores</h2>

        <div class="yo">
          <h2>Physical Health Score:</h2>
          <h2><%= @phys %></h2>
        </div>
        <div class="yo">
          <h2>Mental Health Score:</h2>
          <h2><%= @men %></h2>
        </div>
        <div class="yo">
          <h2>Spiritual Health Score:</h2>
          <h2><%= @spir %></h2>
        </div>
        <div class="yo">
          <h2>Emotonial Health Score:</h2>
          <h2><%= @emo %></h2>
        </div>
        <div class="yo">
          <h2>Intelligence Score:</h2>
          <h2><%= @intel %></h2>
        </div>
        <div class="yo">
          <h2>Financial Score:</h2>
          <h2><%= @fin %></h2>
        </div>

        <div style="clear: both; overflow: hidden;"></div>
        <div style="margin-top: -40px;width: 250px; position: relative; top: 55px;z-index:-1; background: #FFFBCC; height: 40px;transform: rotate(-2deg);">
        </div>
        <center><h2>Individual Tracking</h2></center>

        <div class="yo">
          <h2>Walk Length (mins):</h2>
          <h2><%= @walk %></h2>
        </div>
        <div class="yo">
          <h2>Push-Ups (the number):</h2>
          <h2><%= @pu %></h2>
        </div>
        <div class="yo">
          <h2>Deep-Work (hours):</h2>
          <h2><%= @deep %></h2>
        </div>

        <div style="clear: both; overflow: hidden;"></div>
        <div style="margin-top: -40px;width: 200px; position: relative; top: 55px;z-index:-1; background: #FFFBCC; height: 40px;transform: rotate(-2deg);">
        </div>
        <center><h2>Skill Development</h2></center>

        <div class="yo not">
          <h2>Skill Score [code]:</h2>
          <h2>4.1</h2>
        </div>
        <div class="yo not">
          <h2>Skill Score [write]:</h2>
          <h2>4.1</h2>
        </div>
        <div class="yo not">
          <h2>Deep Work Score:</h2>
          <h2>3.8</h2>
        </div>

        <div style="clear: both; overflow: hidden;"></div>
        <div style="margin-top: -40px;width: 200px; position: relative; top: 55px;z-index:-1; background: #FFFBCC; height: 40px;transform: rotate(-2deg);">
        </div>
        <center><h2>Business</h2></center>

        <div class="yo">
          <h2>Sales Score:</h2>
          <h2>0.2</h2>
        </div>
        <div class="yo">
          <h2>Social Marketing Score:</h2>
          <h2>2.1</h2>
        </div>
        <div class="yo">
          <h2>Content Marketing Score:</h2>
          <h2>0.83</h2>
        </div>
        <div class="yo">
          <h2>Product Score:</h2>
          <h2>1.98</h2>
        </div>
        <div class="yo">
          <h2>Deep Work Score:</h2>
          <h2>3.8</h2>
        </div>
        <div class="yo">
          <h2>Investment Score:</h2>
          <h2><%= @fin %></h2>
        </div>
      </div>

      <div style="clear: both; overflow: hidden;"></div>

      <div style="margin-top: -40px;width: 200px; position: relative; top: 55px;z-index:-1; background: #FFFBCC; height: 40px;transform: rotate(-2deg);">
      </div>
      <h2 style="width: 200px;z-index: 1;">
        Full Event Log
      </h2>

      <div class="database-rendering">
        <% @db.each do |date, obj| %>
          <div class="day">
            <h3><%= date %></h3>
            <% obj.each do |timestamp, sc| %>
              <%= timestamp.split(' ')[1] %>
              <% sc.each do |action,score| %>
                <b><%= action %></b>: 
                <%= score %>
              <% end %>
              <br />
            <% end %>
          </div>
        <% end %>
      </div>
    </center>
  </body>
</html>

